<!DOCTYPE html>
<html>
<link rel="stylesheet" href="../assets/css/navigationbar.css">
<nav class="nav">
    <img src="../assets/images/logo copy.png" height="20px" width="20px" alt="LIBRO">
    <div class="nav-items">
        <div class="btn"><a href="../assets/html/home.html">HOME</a></div>
        <div class="btn"><a href="../assets/html/services.html">SERVICES</a></div>
        <div class="btn"><a href="">MAP</a></div>
        <div class="btn"><a href="../assets/html/account.html">PROFILE</a></div>
    </div>
</nav>

</html>