html,body{
    background-color: #dceded;
}
.box {
    border-radius: 30px;
    background-color: #166063b8;
    width: 60%;
    height:60%;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-between;
    gap: 0px;
   grid-template-columns: 2fr,1fr;
    
    padding: 5%;}


.form-group{ 
    width:100%;
    height: 20%;
    margin-top: auto;
    margin-bottom: auto;
    font-size: auto;
    gap: 20%;
}    

.form-container {
    grid-column: 1;
    width: 50%; 
    margin-bottom: 20px;
    margin: left 0.1em;
    padding: 10px; 
   
    border-radius: 10px; 
}

.form-group {
    margin-bottom: 25px; 
}

.labeledit {
    display: block; 
    margin-bottom: 5px;
}

input {
    width: 100%; /* Makes input fields take full width */
    padding: 10px; /* Padding inside input fields */
    border: 1px solid #ccc; /* Border style */
    border-radius: 5px; /* Rounded corners for inputs */
    box-sizing: border-box; /* Ensures padding doesn't affect total width */
}

.photo{
    grid-column: 2;
   ;
    width:150px;
    height:150px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    margin-top: 20px;
    margin-right: 80px;
    display :flex;
}



.button-cotainer{
    
    display:flex;
    align-items: center;
   
    
    display: flex;
    justify-content: center; 
    align-items: center;

}


.profile-photo-button {
    background-color: #dceded; 
    color: rgb(0, 0, 0); 
    padding: 10px 20px;
    font-size: 16px; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer;
    display: flex;
    width: 20%;
    height:5%;
    justify-content: center;
    margin-right: 35%;
    
}
 
.right{
    display: flex;
    align-items:center;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;

    
}
.submit-div{
  display:flex;
  justify-content: center;
  margin-right: 30%;
  
}
.submit{
    background-color: #dceded ;
    color :#000000;
    border-radius: 15% ;
    cursor: pointer;
    width:90px;
    padding: 8px;
    margin-left:60%;
    margin-top: 80%;
   
    }

   
   
      span {
        color: red;
      }
