/*navigation bar*/
.nav {
  background-color: #166063;
  width: 100%;
  height: 10%;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*the div inside the nav*/
.nav-items {
  background-color: #166063;
  right: 20%;
  width: 30em;
  height: 10%;
  margin-right: 2em;
  display: flex;
  justify-content: center;
  border-bottom-right-radius: 30px;
}
/*all links of the buttons*/
.btn a {
  color: #166063;
  font-weight: 600;
  text-decoration: none;
}
/*the buttons of the navigation bar*/
.nav-items > div {
  font-size: 15px;
  background-color: #dceded;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 15px;
  width: 3em;
  height: 2em;
  margin: 4% 2% 4% 2%;
  cursor: pointer;
  transition: scale 0.2s ease-in, opacity 0.2s ease-in, filter 0.2 ease-in;
}
/*buttons change size and get blurry when hovering one*/
.nav-items > div:hover {
  scale: 1.1;
}
.nav-items:has(.btn :hover) .btn:not(:hover) {
  scale: 0.8;
  opacity: 0.8;
  filter: blur(4px);
}
@media screen and (max-width: 600px) {
  .nav-items {
    background-color: #166063;
    right: 20%;
    width: 30em;
    height: 10%;
    margin-right: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    border-bottom-right-radius: 30px;
  }
  .profile-pic > img {
    height: 10em;
    width: 10em;
    max-width: 100%;
  }
}

/*the logo*/
.nav > img {
  width: 6em;
  height: 6em;
  top: 1em;
  left: 20px;
  filter: drop-shadow(1px 1px 3px #dceded);
  &:hover {
    filter: drop-shadow(2px 2px 4px #dceded);
  }
}
